<head>
    <title>footer</title>  

    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        i:hover{
            color:ActiveBorder;
        }
    </style>
</head>

<div style="border: 3px solid White; background-color: #279faa; opacity: 0.8; ">
    <footer>
        <!-- ################################################################################################ -->
        <div class="container-md" style="padding: 50px; font-size: x-large;">
            <h6>Sağlığınız bizim için çok önemli. <br /><br /> Sağlıklı günler dileriz...</h6>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook"></i>

        </div>


        <!-- ################################################################################################ -->
    </footer>
</div>
<script src="https://kit.fontawesome.com/712e0b150d.js" crossorigin="anonymous"></script>
<script src="~/Content/Script/jquery.backtotop.js"></script>
<script src="~/Content/Script/jquery.min.js"></script>
<script src="~/Scripts/popper.min.js"></script>
<script src="~/Scripts/popper.js"></script>
<script src="~/Scripts/popper-utils.js"></script>