
<header id="header" style="height: 100px; background-image: url('Content/Images/cool-background.png'); box-sizing:unset;">
    
    <i class="fas fa-laptop-medical" style="font-size: 50px; margin-top: 25px;"></i>
    <div id="logo" class="fl_right">

        <nav id="mainav" class="fl_right" style="padding:30px;">
            <a class="minebutton" style="padding:10px; margin:10px;" href="/Hasta/Giris"><i class="fas fa-user-injured"></i>Hasta Girişi</a>
            <!--  <a class="minebutton" style="padding:10px; margin:10px;" href="/Doktor/Listele">Listele</a> -->
            <a class="minebutton" style="padding:10px; margin:10px;" href="/Doktor/Login"><i class="fas fa-user-md"></i>Doktor Girişi</a>

        </nav>
    </div>
    <script src="https://kit.fontawesome.com/712e0b150d.js" crossorigin="anonymous"></script>
</header>

<script src="~/Content/Script/jquery.mobilemenu.js"></script>
<script src="~/Content/Script/jquery.min.js"></script>
<script src="~/Content/Script/jquery.backtotop.js"></script>


