
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>islembasarili</title>
    <link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

  

</head>
<body style="width: max-content; background: aliceblue;">
    <div style="background-color: aliceblue; background-color: lightgray; border: 2px solid cadetblue; border-radius: 15px; width: 500px; height: 300px; margin-left: 500px; margin-top: 200px;">
         
        <div style="padding: 50px; font-size: 20px; font-style: italic; color: darkcyan;">
            <p>İşlem başarılıyla gerçekleştirildi. <br /> Lütfen randevu saatinden 15-20 dakika önce doktorunuzun kapısının önünde bulununuz. Sağlıklı günler dileriz...</p>
            <a class="btn btn-light" style="padding: 10px; margin: 10px; font-style: italic; color: darkcyan; background: aliceblue; margin-left: 201px; margin-top: 20px; border: 2px solid darkcyan; " href="/Hasta/homepage/"><i class="fas fa-user-plus"></i>Ana Sayfaya Geri Dön</a>
        </div>

    </div>
</body>
</html>
