 
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>mesaj</title>
</head>
<body style="background-color:  LightSteelBlue;">
    <div>
        <span>Randevunuz başarı ile alışmıştır. Randevu saatinizden 15-20 dakika önce gelmeniz gerekmektedir.  <br /> Sağlıklı günler dileriz.</span>
    </div>
</body>
</html>
